services:
  jaeger:
    image: jaegertracing/jaeger:2.0.0
    ports:
      - "16686:16686"
      - "4317:4317"
      - "4318:4318"
    command: ["--set", "receivers.otlp.protocols.grpc.endpoint=0.0.0.0:4317"]
    environment:
      - LOG_LEVEL=debug
